<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="data-tablar/dependencies/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="data-tablar/dependencies/components-font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="data-tablar/dependencies/angular-ui-notification/dist/angular-ui-notification.css">
    <link rel="stylesheet" href="data-tablar/dependencies/ng-dialog/css/ngDialog.css">
    <link rel="stylesheet" href="data-tablar/dependencies/ng-dialog/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="data-tablar/dependencies/bootswatch/paper.min.css">
    <link rel="stylesheet" href="data-tablar/styles/data-tablar.min.css"> </head>

<body ng-app="dataTablarApp">
    <!--[if lte IE 8]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <!-- Add your site or application content here -->
    <div class="header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">dataTablar</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form ng-if="!$root.currentUser" ng-submit="$root.login(credentials)" novalidate>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" ng-model="$root.credentials.email">
                        <ul >
                            <li><small>admin@datatablar.com</small></li>
                            <li><small>bill.carroll@datatablar.com</small></li>
                            <li><small>pablo.johnson@datatablar.com</small></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" ng-model="$root.credentials.password">
                        <ul >
                            <li><b>datatablar</b></li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <p ng-if="$root.currentUser" class="h5">
                    <span>Hi, <b>{{$root.currentUser.name}}</b></span>
                    <b>-</b>
                    <a href="" ng-click="$root.logout();" class="navbar-link" title="Click to LOGOUT">Logout</a>
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div ng-view=""></div>
            </div>
        </div>
        <hr>
        <div class="footer">
            <p>built with passion and care by bangdc</p>
        </div>
    </div>
    <script src="data-tablar/dependencies/jquery/dist/jquery.js"></script>
    <script src="data-tablar/dependencies/bootstrap/dist/js/bootstrap.js"></script>
    <script src="data-tablar/dependencies/angular/angular.js"></script>
    <script src="data-tablar/dependencies/angular-animate/angular-animate.js"></script>
    <script src="data-tablar/dependencies/angular-cookies/angular-cookies.js"></script>
    <script src="data-tablar/dependencies/angular-resource/angular-resource.js"></script>
    <script src="data-tablar/dependencies/angular-route/angular-route.js"></script>
    <script src="data-tablar/dependencies/angular-sanitize/angular-sanitize.js"></script>
    <script src="data-tablar/dependencies/angular-touch/angular-touch.js"></script>
    <script src="data-tablar/dependencies/moment/moment.js"></script>
    <script src="data-tablar/dependencies/underscore/underscore.js"></script>
    <script src="data-tablar/dependencies/angular-ui-notification/dist/angular-ui-notification.js"></script>
    <script src="data-tablar/dependencies/ng-dialog/js/ngDialog.js"></script>
    <script src="data-tablar/dependencies/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="data-tablar/dependencies/angular-moment/angular-moment.js"></script>
    <script src="data-tablar/dependencies/angular-translate/angular-translate.js"></script>
    <script src="data-tablar/dependencies/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="data-tablar/dependencies/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="data-tablar/dependencies/rubaxa-sortable/Sortable.js"></script>
    <script src="data-tablar/dependencies/rubaxa-sortable/ng-sortable.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/dependencies/angular-jwt.js"></script>
    <script src="data-tablar/scripts/data-tablar.min.js"></script>
    <script src="data-tablar/scripts/data-tablar-directives.min.js"></script>
    <script src="data-tablar/scripts/data-tablar-services.min.js"></script>
    <script src="data-tablar/scripts/data-tablar-filters.min.js"></script>
</body>

</html>
