<div class="form-group" ng-class="{'has-success': valid, 'has-error': !valid}">
    <label class="control-label">
    	<h3 ng-if="label">
            <b class="text-danger" ng-if="config.displayRequiredStar" title="{{::$root.dataTablarDictionary.titleFormFieldRequire}}">*</b> 
            {{::label}}:
        </h3>
   	</label>
    <select 
        ng-disabled="disabled"
		class="form-control input-sm" 
    	ng-options="option[config.optionModelKey] as option[config.optionDisplayKey] for option in config.options" 
    	ng-model="model">
        <option value="" disabled>---{{::$root.dataTablarDictionary.phrasePleaseSelect}}---</option>
        <!-- not selected / blank option -->
    </select>
    <div ng-include="$root.dataTablarBaseFolder + '/views/form-element-messages.html'"></div>
</div>
