<div class="panel panel-default">
  <div class="panel-heading">
    <b>{{::$root.dataTablarDictionary.phraseDragNDrop}} {{::$root.dataTablarDictionary.wordTo}} {{::$root.dataTablarDictionary.wordArrange}}</b>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover">
      <thead ng-sortable="{animation:200}">
        <tr 
          ng-repeat="column in dttb.config.columns track by $index" 
          ng-show="!column.hidden"
          class="dttb-cursor-move">
          <th>
            {{column.label}}
          </th>
        </tr>
      </thead>
    </table>
  </div>
</div>