<span ng-if="dttb.config.table.displayShowingRow">
    <strong>
        <span>{{::$root.dataTablarDictionary.wordShow}}</span>
        <span class="badge">
            <span>{{dttb.tableQuery.rowFrom}}</span>
            <span>{{::$root.dataTablarDictionary.wordTo}}</span> 
            <span>{{dttb.tableQuery.rowUntil}}</span>
        </span> 
        <span><b>/</b></span>   
        <span class="badge">{{dttb.tableQuery.numTotalRows}}</span> 
        <span>{{::$root.dataTablarDictionary.wordRows}}</span>
    </strong>
</span>
<div class="pull-right" ng-if="dttb.config.table.displaySelectRowsPage">
    <select 
        class="form-control input-sm" 
        ng-model="dttb.tableQuery.numRowsPerPage" 
        ng-change="dttb.selectNumRowsPerPage();"
        dttb-convert-to-number>
        <option value="" disabled>---{{::$root.dataTablarDictionary.phrasePleaseSelect}}---</option>
        <option ng-repeat="option in dttb.tableQuery.numRowsPerPageOptions" value="{{option}}">
            {{option}} {{::$root.dataTablarDictionary.wordRows}} / {{::$root.dataTablarDictionary.wordPage}}
        </option>
    </select>
</div>
<div class="pull-right" ng-if="dttb.config.table.displayPaging">
    <ul class="pagination pagination-sm pull-right dttb-pagination">
        <li title="{{::$root.dataTablarDictionary.phraseGoToPage}} {{dttb.tableQuery.pagination.first}}">
            <a 
                href="" 
                ng-if="dttb.tableQuery.pagination.first" 
                ng-click="dttb.goToPage(dttb.tableQuery.pagination.first);">
                <span>{{::$root.dataTablarDictionary.wordFirst}}</span>
            </a>
        </li>
        <li title="{{::$root.dataTablarDictionary.phraseGoToPage}} {{dttb.tableQuery.pagination.prev}}">
            <a 
                href="" 
                ng-if="dttb.tableQuery.pagination.prev" 
                ng-click="dttb.goToPage(dttb.tableQuery.pagination.prev);">
                <span>{{::$root.dataTablarDictionary.wordPrevious}}</span>
            </a>
        </li>
        <li 
            ng-repeat="page in dttb.tableQuery.pagination.pages track by $index" 
            ng-class="{active : dttb.tableQuery.page == page}"
            title="{{::$root.dataTablarDictionary.phraseGoToPage}} {{page}}">
            <a 
                href="" 
                ng-click="dttb.goToPage(page);" 
                ng-if="dttb.tableQuery.page != page">{{page}}</a>
            <a ng-if="dttb.tableQuery.page == page">{{page}}</a>
        </li>
        <li title="{{::$root.dataTablarDictionary.phraseGoToPage}} {{dttb.tableQuery.pagination.next}}">
            <a 
                href="" 
                ng-if="dttb.tableQuery.pagination.next" 
                ng-click="dttb.goToPage(dttb.tableQuery.pagination.next);">
                <span>{{::$root.dataTablarDictionary.wordNext}}</span>
            </a>
        </li>
        <li title="{{::$root.dataTablarDictionary.phraseGoToPage}} {{dttb.tableQuery.pagination.last}}">
            <a 
                href="" 
                ng-if="dttb.tableQuery.pagination.last" 
                ng-click="dttb.goToPage(dttb.tableQuery.pagination.last);">
                <span>{{::$root.dataTablarDictionary.wordLast}}</span>
            </a>
        </li>
    </ul>
</div>
